# PyBer

## Import Data and Dependencies

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Import all necessary dependencies
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import os

In [18]:
# Import .csvs into DataFrames

city_data_df = pd.read_csv("Resources/city_data.csv")

ride_data_df = pd.read_csv("Resources/ride_data.csv")

print(city_data_df.head(10))
print(ride_data_df.head(10))

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

## Explore the Data

In [21]:
# Determine what kind of data types are in city_data
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [22]:
# Determine what kind of data types are in ride_data
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [30]:
# Count the number of data entries and determine if there are any null values for city_data
print(city_data_df.count())
print(city_data_df.isnull().sum())

city            120
driver_count    120
type            120
dtype: int64
city            0
driver_count    0
type            0
dtype: int64

In [32]:
# Count the number of data entries and determine if there are any null values for ride_data
print(ride_data_df.count())
print(ride_data_df.isnull().sum())

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64
city       0
date       0
fare       0
ride_id    0
dtype: int64

In [33]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [44]:
# Get unique values for ride_data and city_data "city" Series to see if they are appropriate for a merge
print(len(ride_data_df['city'].unique()))
print(len(city_data_df['city'].unique()))

120
120

In [35]:
# Get the number of data points from the Rural cities.
sum(city_data_df["type"]=="Rural")

18

In [36]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Urban")

66

In [37]:
# Get the number of data points from the Suburban cities.
sum(city_data_df["type"]=="Suburban")

36

## Merge the DataFrames

In [39]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban